@use '../../styles/constants/colors';
@use '../../styles/base/fonts';
@use '../../styles/constants/levels';

.boardCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movableCard {
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 15px 0;
  font-family: 'Nanum Gothic', sans-serif;
  background: colors.$WHITE;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px colors.$GRAY_100;

  @media screen and (max-width: 768px) {
    position: relative;
    width: 100%;
    max-width: 300px;
  }
}

.image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.boxHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 3px;
  font-size: 15px;
  font-weight: 800;

  .settingIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.category {
  position: relative;
  z-index: levels.$BASIC;
  display: flex;
  flex-wrap: wrap;

  li {
    width: auto;
    padding: 8px 10px;
    margin: 0 8px 8px 0;
    font-size: 14px;
    font-weight: 600;
    color: colors.$WHITE;
    background: colors.$KEY;
    border-radius: 5px;
  }
}

.description {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 25px;
  color: colors.$GRAY_300;
}

.dates {
  display: flex;
  align-items: center;
  font-family: Hahmlet, serif;
  font-size: 13px;
  font-weight: 600;

  .dateIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
