@use '../../styles/constants/colors';

.boardCard {
  width: calc(100% - 30px);
  height: auto;
  padding: 10px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px colors.$GRAY_100;
}

.image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
  color: colors.$FONT;

  .setting {
    .settingIcon {
      width: 20px;
      height: 20px;
    }

    .settingBox {
      position: absolute;
      z-index: 10;
      display: flex;
      flex-direction: column;
      padding: 15px;
      background: colors.$WHITE;
      border: 1px solid black;

      button {
        color: colors.$FONT;
        transition: 0.1s linear;

        &:hover {
          color: colors.$LIGHTORANGE;
        }
      }
    }
  }
}

.category {
  position: relative;
  z-index: 1;
  display: flex;

  li {
    width: auto;
    padding: 8px 10px;
    margin-right: 8px;
    font-size: 14px;
    color: colors.$WHITE;
    background: colors.$KEY;
    border-radius: 5px;
  }
}

.description {
  width: 100%;
  margin: 10px 0;
  font-size: 13px;
  line-height: 25px;
  color: colors.$GRAY_300;
}

.dates {
  display: flex;
  align-items: center;
  width: 100%;
  color: colors.$FONT;

  .dateIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

// border 없애기, 그림자
// edit 박스 z-index 설정
