@use '../../../../../../styles/constants/colors';
@use '../../../../../../styles/mixins/settingBox';

.settingBox {
  @include settingBox.settingBox;
  top: 0;
  right: 0;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  width: 80px;
  height: 60px;
  border: 1px solid colors.$GRAY_300;

  @media screen and (max-width: 768px) {
    grid-template-rows: 1fr 1fr 1fr;
    height: 80px;
  }

  button {
    font-size: 12px;
    transition: 0.2s;

    &:hover {
      color: colors.$KEY;
    }
  }
}
