@use '../../../../styles/constants/colors';

.detail {
  margin-top: 25px;
  color: colors.$FONT;
}

.date {
  margin-top: 15px;
  color: colors.$FONT;
  cursor: pointer;

  .dateBtn {
    display: flex;
    align-items: center;

    button {
      margin-left: 5px;
      font-size: 16px;
    }
  }
}

.image {
  margin-top: 10px;
  color: colors.$FONT;

  .imageLabel {
    display: flex;
    align-items: center;
    color: colors.$FONT;
    cursor: pointer;

    .imageBtn {
      margin-right: 5px;
    }
  }

  input {
    display: none;
  }
}

.description {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-family: 'Nanum Gothic', sans-serif;
  color: colors.$FONT;

  input {
    width: 100%;
    margin-left: 5px;
  }
}
