@use '../../../../styles/constants/colors';

.image {
  margin: 10px 0 80px;
  color: colors.$FONT;

  .imageLabel {
    display: flex;
    align-items: center;
    color: colors.$FONT;
    cursor: pointer;

    .imageIcon {
      margin-right: 5px;
    }
  }

  input {
    display: none;
  }
}
