@use '../../../styles/constants/colors';
@use '../../../styles/constants/levels';
@use '../../../styles/mixins/modal';

.background {
  @include modal.modalBackground;
}

.modalBox {
  @include modal.modalBox;
  width: 320px;
  height: auto;
  min-height: 510px;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 10px;
}

.modalHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 20px;
  color: colors.$FONT;

  .xIcon {
    cursor: pointer;
  }
}

.detail {
  margin-top: 15px;
}

.submitButton {
  position: absolute;
  bottom: 20px;
  width: 280px;
  height: 50px;
  font-size: 17px;
  color: colors.$WHITE;
  background: colors.$GRAY_100;
  border-radius: 20px;
  transition: 0.2s linear;

  &:hover {
    background: colors.$KEY;
  }
}
