@use '../../../../styles/constants/colors';

.category {
  margin-top: 25px;

  .categoryHead {
    display: flex;

    .error {
      margin-left: 5px;
      font-size: 13px;
      color: colors.$ERROR;
    }
  }

  .categoryForm {
    display: flex;
    justify-content: baseline;
    // width: 100%;
    margin-top: 10px;

    .plusIcon {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      cursor: pointer;
    }

    .categoryInput {
      display: none;
      font-family: 'Nanum Gothic', sans-serif;
    }

    .categoryShow {
      display: inline-block;
    }
  }

  .categoryItem {
    width: auto;
    height: 30px;
    padding: 3px 10px;
    margin: 8px 5px 0 0;
    font-size: 15px;
    color: colors.$WHITE;
    background: colors.$KEY;
    border-radius: 10px;
  }
}
