@use '../../../../styles/constants/colors';

.description {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-family: 'Nanum Gothic', sans-serif;

  input {
    margin-left: 5px;
  }
}
