@use '../../../styles/constants/colors';

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 15px 30px;

  @media screen and (max-width: 1050px) {
    align-items: center;
    margin: 15px 10px;
  }
}

.searchForm {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 15px;
  height: 15px;
}

.searchInput {
  width: 340px;
  height: 44px;
  padding-left: 35px;
  color: colors.$FONT;
  background: colors.$LIGHTPINK;
  border-radius: 15px;

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.xBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dropdownList {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: auto;
  margin-top: 5px;
  background: colors.$LIGHTPINK;
  border-radius: 10px;

  li {
    margin: 10px 20px;
    margin-bottom: 10px;

    button {
      width: 100%;
      padding: 5px;
      font-size: 15px;
      color: colors.$FONT;
      text-align: left;
      border-radius: 5px;
      transition: 0.1s linear;

      &:hover {
        color: colors.$KEY;
        background: colors.$WHITE;
      }
    }
  }
}

// 키보드로 내리는 것도 하기
