@use '../../../styles/constants/colors';
@use '../../../styles/constants/levels';

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 15px 30px;

  @media screen and (max-width: 768px) {
    align-items: center;
    margin: 15px 10px;
  }
}

.searchForm {
  position: relative;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .searchIcon {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 15px;
    height: 15px;
  }

  .searchInput {
    width: 340px;
    height: 44px;
    padding-left: 35px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    color: colors.$FONT;
    background: colors.$LIGHTPINK;
    border-radius: 15px;

    &::-webkit-search-cancel-button {
      display: none;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .xIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}

.inputDownBox {
  position: relative;
  width: 340px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
