@use '../../../styles/constants/colors';

@mixin icon {
  justify-self: end;
  width: 18px;
  height: 18px;
  cursor: pointer;
  fill: colors.$KEY;
}

.boardBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: 1px solid colors.$GRAY_100;

  &::-webkit-scrollbar {
    display: block;
    width: 7px;
    height: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$GRAY_100;
    border-radius: 8px;
  }
}

.boardTop {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: colors.$FONT;

  .plus2Icon {
    grid-column: 2 / 3;
    @include icon;
  }

  .hamburgerIcon {
    grid-column: 3 / 4;
    @include icon;
  }
}

.cardList {
  position: relative;
  width: 300px;

  .noTaskMessage {
    line-height: 100px;
  }
}
