@use '../../../styles/constants/colors';
@use '../../../styles/constants/levels';
@use '../../../styles/base/fonts';

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: levels.$MODALBACK;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 30%);
}

.modalBox {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: levels.$MODAL;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 200px;
  padding: 10px 20px;
  font-size: 13px;
  background: colors.$WHITE;
  border-radius: 8px;
  transform: translate(-50%, -50%);

  .noticeBox {
    display: flex;
    align-items: center;
    font-size: 17px;

    .noticeIcon {
      width: 35px;
      height: 35px;
    }
  }

  .buttonBox {
    display: flex;
    justify-content: space-evenly;
    width: inherit;

    button {
      padding: 10px 20px;
      border: 1px solid colors.$DARK_GRAY;
      border-radius: 8px;
      transition: 0.1s linear;

      &:hover {
        color: colors.$WHITE;
        background: colors.$DARK_GRAY;
      }
    }
  }
}
