@use '../../../../styles/mixins/settingBox';
@use '../../../../styles/constants/colors';

.settingBox {
  @include settingBox.settingBox;
  top: 0;
  left: 0;
  width: 340px;
  height: auto;
  padding: 10px;
  color: colors.$DARK_GRAY;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  p {
    padding-bottom: 10px;
    border-bottom: 1px solid colors.$GRAY_300;
  }

  .filterChooseList {
    margin: 3px 0;

    button {
      width: 100%;
      padding: 5px;
      margin: 3px 0;
      text-align: left;
      border-radius: 3px;
      transition: 0.2s;

      &:hover {
        background: colors.$LIGHTPINK;
      }
    }
  }
}
