@use '../../../styles/constants/colors';
@use '../../../styles/constants/levels';

.boardsContainer {
  // position: relative;
  display: flex;
  width: auto;
  height: 100%;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: block;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$GRAY_300;
    border-radius: 8px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .lnb {
    position: fixed;
    top: 160px;
  }

  .boards {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
  }

  .boardAddButton {
    min-width: 200px;
    height: 100px;
    padding: 5px;
    margin: 0 30px;
    font-size: 12px;
    border: 2px dotted colors.$GRAY_100;
    border-radius: 8px;
  }
}
