@use '../../../../styles/constants/colors';

@mixin icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  fill: colors.$KEY;
}

.boardBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 100%;
  border-right: 1px solid colors.$GRAY_100;

  @media screen and (max-width: 768px) {
    width: 100%;
    border-right: none;
  }
}

.boardTop {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
  color: colors.$FONT;

  .plus2Icon {
    grid-column: 3 / 4;
    @include icon;
  }

  .hamburgerIcon {
    grid-column: 4 / 5;
    @include icon;
  }
}

.cardList {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }

  &::-webkit-scrollbar {
    display: block;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$GRAY_100;
    border-radius: 8px;
  }

  ul {
    position: relative;
    width: inherit;
  }

  .noTaskMessage {
    line-height: 100px;
    text-align: center;
  }
}

.boardBottom {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 10px 0;
  background: colors.$WHITE;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    height: 60px;
    border-top: 1px solid colors.$GRAY_100;
  }
}

.boardSettingButton {
  padding: 10px 70px;
  font-size: 14px;
  background: colors.$LIGHTPINK;
  border-radius: 8px;
}
