@use '../../../styles/constants/colors';
@use '../../../styles/constants/levels';
@use '../../../styles/mixins/modal';

.background {
  @include modal.modalBackground;
}

.modalBox {
  @include modal.modalBox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 200px;
  padding: 10px 20px;
  font-size: 13px;
  border-radius: 8px;

  input {
    padding: 5px 10px;
    border: 1px solid colors.$GRAY_300;
    border-radius: 8px;

    &:focus {
      border: 2px solid colors.$KEY;
    }
  }

  .buttonBox {
    display: flex;
    justify-content: space-around;
    width: 100%;

    button {
      padding: 10px 20px;
      color: colors.$WHITE;
      background: colors.$LIGHTORANGE;
      border-radius: 8px;
      transition: 0.1s linear;
    }
  }
}
