@use 'styles/constants/colors';

.header {
  display: flex;
  align-items: center;
  margin: 15px 0 0 10px;

  .nickNameContainer {
    display: flex;
    align-items: center;
    margin-right: 25px;

    .nickNameForm {
      input {
        width: 170px;
      }
    }

    .nickName {
      width: max-content;
      font-size: 24px;
      color: colors.$KEY;
      cursor: default;
    }

    .editIcon {
      width: 20px;
      height: 20px;
      cursor: pointer;

      &:hover {
        fill: colors.$KEY;
      }
    }
  }
}
