@use '../../../styles/constants/colors';
@use '../../../styles/mixins/settingBox';

.settingBox {
  @include settingBox.settingBox;

  button {
    font-size: 12px;
    transition: 0.2s;

    &:hover {
      color: colors.$KEY;
    }
  }
}
