@use '../../../styles/constants/colors';
@use '../../../styles/constants/levels';

.boardsContainer {
  position: relative;
  display: flex;
  width: inherit;
  height: inherit;
  overflow-x: auto;
  overflow-y: hidden; // 나중에 지울 수 있게

  &::-webkit-scrollbar {
    display: block;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$GRAY_300;
    border-radius: 8px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .boards {
    position: relative;
    display: flex;
    width: auto;
    height: inherit;
    margin: 0 0 0 5px;
  }

  .boardAddButton {
    min-width: 200px;
    height: 100px;
    padding: 5px;
    margin: 0 30px;
    font-size: 12px;
    border: 2px dotted colors.$GRAY_100;
    border-radius: 8px;
  }
}

/*
.containerSettingBox {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  background: colors.$WHITE;
  border-top: 1px solid colors.$GRAY_100;
}

.containerSettingButton {
  padding: 10px 70px;
  font-size: 14px;
  background: colors.$GRAY_100;
  border-radius: 8px;
}
*/
