@use 'styles/constants/colors';

.customButton {
  display: flex;
  align-items: center;
  margin-top: 4px;
  font-size: 15px;
  color: colors.$KEY;

  div {
    margin: 0 5px;
  }

  .calendarIcon {
    width: 20px;
    height: 20px;
    fill: colors.$KEY;
  }

  .arrowDownIcon {
    width: 20px;
    height: 20px;
    fill: colors.$KEY;
  }
}
