@use '../../styles/constants/colors';

.page {
  width: 100%;
}

.main {
  display: flex;
}

.boards {
  position: relative;
  z-index: 1;
  display: flex;
  width: auto;
  height: 875px;
  margin: 0 0 0 20px;
}

.processBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(calc(100vw - 300px) / 4);
  min-width: 240px;
  overflow-y: auto;
  border-right: 1px solid colors.$GRAY_100;

  &::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$GRAY_100;
    border-radius: 8px;
  }
}

.processTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 30px);
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: colors.$FONT;

  button {
    padding: 10px 14px;
    color: colors.$WHITE;
    background: colors.$LIGHTORANGE;
    border-radius: 10px;
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .addIcon {
    width: 45px;
    height: 45px;
  }

  .deleteIcon {
    width: 30px;
    height: 30px;
  }
}

// 스크롤 가로 구현
