@use '../../styles/constants/colors';

.page {
  width: calc(100% - 230px);
}

.main {
  display: flex;
}

.boards {
  position: relative;
  z-index: 1;
  display: flex;
  width: auto;
  height: 875px;
  margin: 0 0 0 5px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .addIcon {
    width: 45px;
    height: 45px;
  }

  .deleteIcon {
    width: 30px;
    height: 30px;
  }
}

.processInput {
  width: 250px;
  height: 50px;
  padding-left: 10px;
  color: colors.$FONT;
  background: colors.$LIGHTPINK;
  border-radius: 10px;
}

// 스크롤 가로 구현
