@use '../../styles/constants/colors';
@use '../../styles/constants/levels';

.taskDashboardPage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

.main {
  position: relative;
  width: inherit;
  height: 100%;
  overflow-x: auto;
}
