@use '../../../../styles/constants/colors';

.menuBox {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100px;
  height: 80px;
  font-size: 14px;
  background: colors.$WHITE;
  border: 1px solid colors.$GRAY_300;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px colors.$GRAY_100;

  p {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: colors.$KEY;
    }
  }
}
