@use '../constants/colors';
@use '../constants/levels';

@mixin settingBox {
  position: absolute;
  z-index: levels.$MODAL;
  display: grid;
  align-items: center;
  background: colors.$WHITE;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px colors.$GRAY_100;
}
